<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a href="#/newProduct">Create Product</a></li>
        </ul>
    </div>
</div>
<div ng:controller="ProductController">

    @*| filter:query*@
    <ul class="thumbnails">
        <li ng-repeat="product in allProducts | orderBy:sortorder">
            @*| limitTo:2*@
            {{product.ProductName}}
        </li>
    </ul>

    <div class="container-fluid">

    </div>
</div>