@{
    ViewBag.Title = "Manage";
}

<div ng-app="eshopApp">
    <h2>Manage Products</h2>

    <div ng:controller="ProductController">

        @*| filter:query*@
        <ul class="thumbnails">
            <li ng-repeat="product in allProducts | orderBy:sortorder"> @*| limitTo:2*@
                {{product.ProductName}}
            </li>
        </ul>

        <div class="container-fluid">
            <form name="productForm" ng-submit="updateProduct()">
                <div class="row-fluid">
                    <fieldset>
                        <label for="productName">Product name:</label>
                        <input focus id="productName" required ng-pattern="/^[-A-Za-z0-9]{2,20}$/" type="text" placeholder="Productname" ng-model="currentProduct.Productname"/>
                        <label for="productType">Product type:</label>
                        <input id="productType" type="number" placeholder="ProductType" ng-model="currentProduct.ProductType"/>
                        <label for="description">Product type:</label>
                        <input id="description" type="text" placeholder="Description" ng-model="currentProduct.Description"/>
                        <label for="stock">Product type:</label>
                        <input id="stock" type="number" placeholder="Stock" ng-model="currentProduct.Stock"/>
                        <label for="price">Product type:</label>
                        <input id="price" type="number" placeholder="Price" ng-model="currentProduct.Price" />
                    </fieldset>
                </div>
                <div class="row-fluid">
                    <div class="span6 offset3">
                        <div class="pull-left"><span class="btn">Cancel</span></div>
                        <div class="pull-right"><button type="submit" class="btn btn-primary">Save</button></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Scripts/angular.js" ng:autobind></script>
<script src="~/Scripts/angular-resource.js" ng:autobind></script>
<script src="~/Scripts/angular-route.js" ng:autobind></script>
<script src="~/Scripts/angular/app.js"></script>
<script src="~/Scripts/angular/services/ProductData.js"></script>
<script src="~/Scripts/angular/controllers/ProductController.js"></script>

@*<span ng-show="myForm.myAddress.$error.email">Not a valid e-mail address</span>
<form ng-app="" name="myForm" ng-init="myText = 'post@myweb.com'">

    Email:
    <input type="email" name="myAddress" ng-model="myText" required>
    <p>Edit the e-mail address, and try to change the status.</p>
    <h1>Status</h1>
    <p>Valid: {{myForm.myAddress.$valid}} (if true, the value meets all criteria).</p>
    <p>Dirty: {{myForm.myAddress.$dirty}} (if true, the value has been changed).</p>
    <p>Touched: {{myForm.myAddress.$touched}} (if true, the field has been in focus).</p>*@
